@import url('https://fonts.googleapis.com/css?family=Raleway:200');
html{
	height:100%;
}
body {
	background-image: url("../img/index-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	height: 100%;
	overflow: hidden;
}

.index-column{
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
}

#my-info-container{
	background: rgba(0,0,0,0.8);
	padding-left: 30px;
}

#name-label{
	color: white;
	font-size: 10vw;
	font-family: 'Raleway', sans-serif;
	text-align: left;
}

#subtitle-list{
	list-style-type: none;
	background: rgba(0,0,0,0.8);
}

#subtitle-list li{
	color: white;
	font-size: 2vw;
}