body {
	background-image: url('../img/index-background.jpg');
	background-size: 100%, 100%;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
#name-plate-center {
	width:100%;
	left: 0;
	background-color: #000000;
	color: #ffffff;
	top: 50%;
	position: absolute;
	z-index: -1;
	transform: translate(0, -40%);
	box-shadow: 0 0 20px #404040;
}
#name-header {
	font-size: 84px;
	font-weight: 100;
	text-align: left;
}
#titles-header {
	font-size: 28px;
	font-weight: 100;
	text-align: left;
}
.index-button {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: 100;
}
#option-group {
	margin-top: 30px;

}
#name-photo {
	width: 90%;
	position: absolute;
	top: 50%;
	border: 10px solid black;
	transform: translate(0, -50%);
}