@import url('https://fonts.googleapis.com/css?family=Raleway:200');
body{
    width: 100vw !important;
    overflow-x: hidden !important;
}

.page-header{
    height: 100vh;
    background-size: cover;
}

#developer-page-header{
    background: url('../img/psupres.jpg') center top no-repeat fixed;
}

#home-button{
    position: absolute;
    top: 10px;
    left: 10px;
}

#home-button a{
    color: white;
    text-decoration: none;
}

#home-button i {
    font-size: 30px;
    padding: 10px;
    border: 2px white solid;
    border-radius: 50%;
    background: rgba(0,0,0,0.5);
    transition: all 0.1s ease-in;
}

#home-button i:hover{
    background: white;
    color: black;
}

.page-header-text{
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    position: absolute;
    bottom: 50px;
    font-size: 5vw;
    text-shadow: 0 0 20px black;
    padding-right: 30px;
}

.page-header-container{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9));
    width: 100%;
}

.scroll-prompt-container{
    width:100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}
.scroll-prompt-container i {
    font-size: 50px;
    animation: fadein 3s;
}

.scroll-prompt-container a {
    text-decoration: none;
    color:white;
}

.content-row{
    height: 100%;
    color: white;
    font-family: 'Raleway', sans-serif;
    background-size: 100% auto !important;
    overflow-y: hidden;
    overflow-x: hidden;
}

#first-content-row{
    background: url('../img/code background-1.jpg');
}
#second-content-row{
    background: url('../img/code background-2.jpg');
}

#third-content-row{
    background: url('../img/code-background-3.jpg');
}

#fourth-content-row{
    background: url('../img/background-4.jpg');
}

.content-container{
    width:100%;
    padding-top: 50px;
    background: rgba(0,0,0,0.8);
}

.content-container h1{
    text-align: center;
}

.icon-listing{
    width:100%;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

.icon-listing i {
    font-size: 100px;
    background-color: white;
    border-radius: 50%;
    padding: 20px;
    color: #1a1a1a;
    transition: all .1s ease-in;
}

.icon-listing i:hover{
    color: white;
    background-color: rgba(0,0,0,0);
}

.icon-listing h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
    text-shadow: 0 0 20px black;
}

.image-icon-image{
    height: 140px;
    width: 140px;
    background-color: white;
    border-radius: 50%;
    transition: all .1s ease-in;
}

.image-icon-image:hover{
    background: rgba(0,0,0,0);
}

#psu-image-icon img{
    content: url("../img/psu-logo-dark.png");
    padding: 20px;
}

#psu-image-icon img:hover{
    content: url("../img/psu-logo-trans.png");
}

#tsa-image-icon img{
    content: url("../img/tsa-logo-dark.png");
    padding: 50px 20px;
}

#tsa-image-icon img:hover{
    content: url("../img/tsa-logo-trans.png");
}


.portfolio-listing{
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

.portfolio-listing h3{
    margin-top: 15px;
}

.portfolio-image{
    height: 200px;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 5%;
    filter: grayscale(50%);
    transition: all .25s ease-in;
}

.portfolio-image:hover{
    filter: grayscale(0%);
    cursor: pointer;
}

#github-link{
    font-size: 200px;
    color: white;
    text-decoration: none;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}